<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learningmachine.android.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LMApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/NoToolbarTheme.Splash"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="wallet.blockcerts.org"
                    android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:theme="@style/NoToolbarTheme.Onboarding"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings_fragment"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.issuer.IssuerActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.issuer.AddIssuerActivity"
            android:label="@string/fragment_add_issuer_title"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.LMWebActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.settings.passphrase.RevealPassphraseActivity"
            android:label="@string/settings_reveal_passphrase"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.cert.CertificateActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.issuer.IssuerInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.cert.AddCertificateActivity"
            android:label="@string/fragment_add_certificate_title"
            android:theme="@style/NoToolbarTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.cert.CertificateInfoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.WebAuthActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.cert.VerifyCertificateActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.learningmachine.android.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
        </provider>

    </application>

</manifest>